.card-footer-left {
	float: left;
  width: 80px;
	margin-left: 16px;
}
.card-footer-middle {
	float: left;
  width: 100px;
}
.card-footer-right {
	float: right;
  width: 80px;
}
[class^=card\-footer] {
	font-size: 12px;
	color: #aaa;
}

ion-popover-view.fit {
  height: auto !important;
}

ion-popover-view.fit ion-content {
  position: relative !important;
}

ion-popover-view.fit {
  margin-top: -2px !important;
}

/* passage title */
.passage-header {
	background-color: #d9dbdf;
	padding: 20px 5px;
	margin-bottom: 20px;
}

.passage-header p {
	font-size: 24px;
	line-height: 25px;
}

.passage-content p {
	font-size: inherit;
}

img {
  max-width: 100%;
}

/* comments page style */
.comment-author {
	font-size: 16px;
	font-weight: bold;
}

.comment-time {
    float: right;
}

.comment-content {
	white-space: normal !important;
}

.error {
	margin-top: 200px;
}
.error p {
	font-size: 20px;
	text-align: center;
}
.fontPopover {
	height: 100px;
	width: 80%;
	top: 35% !important;
	left: 10% !important;
}
.fontPopoverDiv {
	border-bottom: none;
}
.fontPopover p {
	text-align: center;
}
